body {
  background-color: #0c77be;
  font-family: 'Josefin Sans', sans-serif;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
  padding-left: 8px;
}

.brand {
  color: #ee7009;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.top-nav .upload a {
  font-weight: bold;
  color: #0b5a18;
  font-size: 16px;
}

.top-nav .upload {
  margin-top: 10px;
}

.picture {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}
.my-btn {
  background-color: #cf4108;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}